<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments::head(~{::title})">
    <title>关于我</title>
</head>
<body>

<!--导航-->
<nav th:replace="_fragments::menu(5)"></nav>

<!--中间内容-->
<div class="m-container m-padded-tb-big">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="eleven wide column">
                <div class="ui segment" style="background-color : rgba(40, 40, 40, 0.3); border: rgba(40, 40, 40, 0.3);">
                    <img src="https://figure-bed-y.oss-cn-beijing.aliyuncs.com/img/20200410.jpg" alt=""
                         class="ui rounded image">
                </div>
            </div>
            <div class="five wide column">
                <div class="ui top attached segment disabled" style="color: rgba(0,0,0,1)">
                    <div class="ui header">关于我</div>
                </div>
                <div class="ui attached segment disabled" style="color: rgba(0,0,0,1)" >
                    <p class="m-text">喜欢数码</p>
                    <p class="m-text">折腾摄影</p>
                    <p class="m-text">吃不胖的瘦宅</p>
                </div>
                <div class="ui attached segment disabled" style="color: rgba(0,0,0,1)">
                    <div class="ui orange basic label m-margin-tb-tiny">编程</div>
                    <div class="ui orange basic label m-margin-tb-tiny">数码</div>
                    <div class="ui orange basic label m-margin-tb-tiny">摄影</div>
                </div>
                <div class="ui attached segment disabled" style="color: rgba(0,0,0,1)">
                    <div class="ui blue basic label m-margin-tb-tiny">Python</div>
                </div>
                <div class="ui bottom attached segment disabled" style="color: rgba(0,0,0,1)">
                    <a href="https://github.com/BangBOOM" class="ui circular icon button m-margin-tb-tiny"><i
                            class="github icon"></i></a>
                    <a href="https://www.instagram.com/while_true_learn/"
                       class="ui circular icon button m-margin-tb-tiny"><i class="instagram icon"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--底部-->
<footer th:replace="_fragments :: footer"></footer>

<!--script-->
<th:block th:replace="_fragments :: script"></th:block>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    })
</script>
</body>
</html>

